.title {
    font-size: 48px;
    width: 90vw;
    background-color: var(--tan-background);
    margin: 1rem;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 15px 0 0 var(--tan-accent);
}

.details-container {
    font-size: 36px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
    margin: 1rem;
}

.detail {
    background-color: var(--green-background);
    padding: 2rem 5rem;
    border-radius: 2rem;
    box-shadow: 15px 0 0 var(--green-accent);
}
