.title-container {
    font-size: 48px;
    width: 90vw;
    background-color: var(--tan-background);
    margin: 2rem;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 15px 0 0 var(--tan-accent);
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
}

.back-button {
    margin: 0;
    border-radius: 4rem;
    box-shadow: 15px 0 0 var(--green-accent);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0.5rem;
}

.back-button-text {
    margin: 0;
    padding-top: 5px;
}

.details-container {
    font-size: 36px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
    margin: 2rem;
}

.detail {
    background-color: var(--green-background);
    padding: 2rem 5rem;
    border-radius: 2rem;
    box-shadow: 15px 0 0 var(--green-accent);
}
