.card {
    background-color: var(--tan-background);
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-flow: column nowrap;
    border-radius: 2rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    position: relative;
}

.pin-button-container {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: var(--green-background);
    padding: 0.2rem 1rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    border-radius: 2rem;
    width: 1.5rem;
    overflow: hidden;
    transition: width 0.25s ease;
}

.pin-button-container:hover {
    width: 6rem;
}

.pin-text {
    font-size: 32px;
}

.card-gif {
    height: 50%;
    max-width: 90%;
    object-fit: cover;
}

.card-info {
    width: 90%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0.5rem;
    padding-top: 1rem;
}

.message {
    font-size: 32px;
    margin: 0;
}

.author {
    font-size: 32px;
    margin: 0;
}

.card-buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.upvote-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: var(--green-background);
    padding: 0 1rem;
    border-radius: 2rem;
}

.upvote-button {
    rotate: -90deg;
    transition: transform 0.25s ease !important;
}

.upvote-button:hover {
    transform: scale(1.1);
}

.upvotes {
    padding-top: 5px;
    font-size: 32px;
}

.delete-button {
    color: var(--tan-accent);
    transition: transform 0.25s ease !important;
}

.delete-button:hover {
    transform: scale(1.1);
}
