header {
    font-family: "Lilita One", sans-serif;
    font-size: 28px;
    background-color: var(--tan-background);
    margin: 0;
    width: 100vw;
    height: 8rem;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0;
}
