.overlay {
    background-color: rgba(30, 30, 30, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

.modal {
    width: 80vw;
    height: 80vh;
    background-color: var(--page-background);
    position: fixed;
    top: 10vh;
    left: 10vw;
    border-radius: 2rem;
    padding: 2rem;
    box-sizing: border-box;
    overflow: scroll;
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
    align-items: center;
}

h2 {
    font-size: 40px;
    font-family: "Lilita One", sans-serif;
    margin: 0;
}

form {
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
    width: 100%;
    align-items: center;
}

.label-container {
    background-color: var(--tan-background);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 4rem;
    margin: auto;
    border-radius: 2rem;
    width: 100%;
}

label {
    font-size: 28px;
    margin: 0 1rem;
}

.input-container {
    background-color: var(--green-background);
    height: 100%;
    flex-grow: 2;
    border-radius: 2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    margin: 0;
}

input,
select {
    font-family: inherit;
    color: inherit;
    font-size: 28px;
    height: 28px;
    overflow: hidden;
    border: none;
    width: 100%;
    background-color: transparent;
    padding: 0;
}

select {
    height: auto;
}

input:focus-visible,
select:focus-visible {
    outline: none;
}

.submit-button {
    width: 10rem;
    padding: 1rem;
    border: none;
    background-color: var(--green-background);
    font-family: inherit;
    font-size: 32px;
    border-radius: 1rem;
    transition: transform 0.25s ease;
    margin: auto;
}

.submit-button:hover {
    transform: scale(1.1);
}

.split-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
}

.card-info-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}

.card-gif {
    height: 40vh;
    max-width: 100%;
    object-fit: cover;
}

.card-message,
.card-author {
    font-size: 32px;
    line-height: 32px;
    margin: 0;
}
