.overlay {
    background-color: rgba(30, 30, 30, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

.modal {
    width: 80vw;
    height: 80vh;
    background-color: var(--page-background);
    position: fixed;
    top: 10vh;
    left: 10vw;
    border-radius: 2rem;
    padding: 2rem;
    box-sizing: border-box;
    overflow: scroll;
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
    align-items: center;
}

.title {
    font-size: 40px;
    font-family: "Lilita One", sans-serif;
    margin: 0;
}

.split-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
}

@media (max-width: 1100px) {
    .split-container {
        grid-template-columns: 1fr;
    }
}

.card-info-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}

.card-gif {
    height: 40vh;
    max-width: 100%;
    object-fit: cover;
}

.card-message,
.card-author {
    font-size: 32px;
    line-height: 32px;
    margin: 0;
}
