.overlay {
    background-color: rgba(30, 30, 30, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

@keyframes slide-alert {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    25% {
        transform: translateY(15vh);
        opacity: 1;
    }
    75% {
        transform: translateY(15vh);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 0;
    }
}

.alert {
    width: 40vw;
    height: 10vh;
    background-color: var(--tan-background);
    position: fixed;
    top: calc(-10vh - 5px);
    left: 30vw;
    z-index: 3;
    box-shadow: 0 5px 0 var(--tan-accent);
    text-align: center;
    border-radius: 1rem;
    animation: 2s ease slide-alert;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.alert-text {
    margin: 0;
    font-size: 32px;
    padding-top: 5px;
}

.modal {
    width: 80vw;
    height: 80vh;
    background-color: var(--page-background);
    position: fixed;
    top: 10vh;
    left: 10vw;
    border-radius: 2rem;
    padding: 2rem;
    box-sizing: border-box;
    overflow: scroll;
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
    align-items: center;
}

.title {
    font-size: 40px;
    font-family: "Lilita One", sans-serif;
    margin: 0;
}

.split-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
}

@media (max-width: 1100px) {
    .split-container {
        grid-template-columns: 1fr;
    }
}

.card-info-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}

.card-gif {
    height: 40vh;
    max-width: 100%;
    object-fit: cover;
}

.card-message,
.card-author {
    font-size: 32px;
    line-height: 32px;
    margin: 0;
}
