.search-bar {
    background-color: var(--tan-background);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 60vw;
    margin: auto;
    border-radius: 2rem;
}

.search-input-container {
    background-color: var(--green-background);
    height: 100%;
    flex-grow: 2;
    border-radius: 2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}

.search-input {
    font-family: inherit;
    color: inherit;
    font-size: 32px;
    height: 32px;
    overflow: hidden;
    border: none;
    width: 100%;
    background-color: transparent;
    box-sizing: border-box;
    padding: 0;
}

.search-input:focus-visible {
    outline: none;
}

.search-icon {
    font-size: 36px;
    padding: 0 1rem;
    transition: transform 0.25s ease !important;
}

.search-icon:hover {
    transform: scale(1.3);
}

@media (max-width: 900px) {
    .search-bar {
        width: 95vw;
    }
}

