.board-cover {
    background-color: var(--tan-background);
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 10%;
    padding: 8%;
    border-radius: 12%;
}

@keyframes hover-board {
    from {
        transform: translateY(0);
        box-shadow: none;
    }

    to {
        transform: translateY(-15px);
        box-shadow: 0 15px 0 var(--tan-accent);
    }
}

.board-cover:hover {
    animation: 0.25s 1 forwards hover-board;
}

.board-cover-gif {
    height: 60%;
    max-width: 90%;
    object-fit: cover;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

.board-cover-title {
    font-family: "Lilita One", sans-serif;
    font-size: 24px;
}