footer {
    background-color: var(--tan-background);
    font-size: 24px;
    margin: 0;
    width: 100vw;
    height: 4rem;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

p {
    margin: 0;
}
