footer {
    background-color: rgb(222, 215, 197);
    font-size: 24px;
    margin: 0;
    width: 100vw;
    height: 4rem;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
}

p {
    margin: 0;
}