:root {
    font-family: "Dongle", sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --tan-background: rgb(232, 215, 172);
    --tan-accent: rgb(176, 143, 60);
    --text: rgb(23, 21, 14);
    --green-background: rgb(198, 231, 192);
    --green-accent: rgb(162, 213, 149);
    --page-background: rgb(251, 251, 248);
}

body {
    margin: 0;
    color: var(--text);
    background-color: var(--page-background);
}

button {
    border: none;
    font-family: inherit;
    color: inherit;
}
